BART API Link http://api.bart.gov/docs/overview/index.aspx

In [1]:
import numpy as np
import pandas as pd
import pickle
import time
import datetime

## BART Schedule Read In

In [2]:
green_schedule = pd.read_csv('2028_BART_Schedule/Green_BART_schedule.csv')
blue_schedule = pd.read_csv('2028_BART_Schedule/Blue_BART_schedule.csv')
red_schedule = pd.read_csv('2028_BART_Schedule/Red_BART_schedule.csv')
orange_schedule = pd.read_csv('2028_BART_Schedule/Orange_BART_schedule.csv')
yellow_schedule = pd.read_csv('2028_BART_Schedule/Yellow_BART_schedule.csv')

In [3]:
green_schedule.head()

,Departure Index (c),Travel segment (a),Day (b),Time of departure (2400),Arrival Time
0,1,11,Mon,5:12,6:27
1,2,11,Mon,5:24,6:39
2,3,11,Mon,5:36,6:51
3,4,11,Mon,5:48,7:03
4,5,11,Mon,6:00,7:15

In [4]:
line_schedules = pd.concat([green_schedule, blue_schedule, red_schedule, orange_schedule, yellow_schedule])

In [5]:
line_schedules = line_schedules.drop(["Day (b)"], axis=1)

In [6]:
line_schedules.head()
# line_schedules.to_pickle

,Departure Index (c),Travel segment (a),Time of departure (2400),Arrival Time
0,1,11,5:12,6:27
1,2,11,5:24,6:39
2,3,11,5:36,6:51
3,4,11,5:48,7:03
4,5,11,6:00,7:15

### Convert all times to minutes

In [7]:
def convert_minutes(string_time):
    x = time.strptime(string_time, '%H:%M')
    return datetime.timedelta(hours=x.tm_hour,minutes=x.tm_min,seconds=x.tm_sec).total_seconds() // 60
    
# datetime.timedelta(hours)

In [8]:
convert_minutes('1:00')

60.0

In [9]:
# Run Once. 
line_schedules['Time of departure (2400)'] = line_schedules['Time of departure (2400)'].apply(lambda x: convert_minutes(x))
line_schedules['Arrival Time'] = line_schedules['Arrival Time'].apply(lambda x: convert_minutes(x))

In [19]:
line_schedules[["Travel segment (a)", "Time of departure (2400)"]].values

array([[  11.,  312.],
       [  11.,  324.],
       [  11.,  336.],
       ...,
       [  10., 1410.],
       [  10., 1425.],
       [  10.,    0.]])

In [18]:
line_schedules.to_pickle("line_schedules.pkl")